.album-view-details .album-view-title {
     font-weight: 300;
     font-size: 2rem;
 }

 .library {
     font-weight: 300;
     font-size: 1.5rem;
     color: white;
 }

album-title .artist {
     color: white;
 }
